body {background-color: #000000}
h1 {
  font-size: 60px;
  font-family: 'Bungee Shade', cursive;
  color: #000000;
  justify-content: flex-start;
  text-align: left;
  line-height: 0.3em;
  margin: 0 auto;
  padding: 3rem;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinte alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 3px #000000, 0 0 5px #000000, 0 0 7px #f7e114, 0 0 9px
    #f7e114, 0 0 11px #f7e114, 0 0 13px #f7e114;
  }
  to {
    text-shadow: 0 0 4px #000000, 0 0 8px #f7e114, 0 0 12px #f7e114, 0 0 16px
    #f7e114, 0 0 20px #f7e114, 0 0 24px #f7e114, 0 0 28px #f7e114;
  }
}
div.topnav {
  font-family: 'Codystar', cursive;
}
.topnav {
  background-color: #000000;
  margin: 0 auto;
  padding: 5px;
  position: absolute;
}
.topnav a {
  color: #f7e114;
  text-align: left;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 20px;
  background-color: #000000;
  display: flex;
  justify-content: flex-start;
}
.topnav a:hover {
  font-size: 30px;
  transition: 0.3s ease;
}
.fa {
  padding: 30px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: #f7e114;
  line-height: 1.5em;
}
.fa:hover {
  text-decoration: none;
  color: #bfae0d;
}
h3 {
  font-family: 'Codystar', cursive;
  font-size: 40px;
  color: #f7e114;
}

.header-content {
  text-align: center;
  padding-top: 2rem;
}

.fullscreen-video-wrap {
  text-align: center;
}

.btn {
  background-color: #f7e114;
  color: #131212;
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Bungee Shade', cursive;
  padding: 1rem 1rem;
  text-decoration: none;
  border-radius:12px;
}

.fullpage {
  background-color: yellow;
  height: 305%;
  width: 101%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
}

.halfheight {
  height: 50%;
}

.mobileheight {
  position: relative;
}

.authorheader {
  background-color: #000000;
  position: absolute;
  text-align: center;
  top: 80%;
  left: 10%
  z-index: 9999;
}

.img1 {
  background-image: url(../images/spinningfields.jpg);
  background-size: cover;
  background-position: center;
}

.img1:hover {
  opacity: 0.6;
}

.img2 {
  background-image: url(../images/castlefield.jpg);
  background-size: cover;
  background-position: center;
}

.img2:hover {
  opacity: 0.6;
}

.img3 {
  background-image: url(../images/northernquarter.jpg);
  background-size: cover;
  background-position: center;
}

.img3:hover {
  opacity: 0.6;
}

.img4 {
  background-image: url(../images/deansgatenew.jpg);
  background-size: cover;
  background-position: center;
}

.img4:hover {
  opacity: 0.6;
}

.img5 {
  background-image: url(../images/centre.png);
  background-size: cover;
  background-position: center;
}

.img5:hover {
  opacity: 0.6;
}

.img6 {
  background-image: url(../images/ancoats.jpg);
  background-size: cover;
  background-position: center;
}

.img6:hover {
  opacity: 0.6;
}
